{namespace pager=Alexweb\AwResize\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">

    <f:flashMessages />
    <pager:addPublicResources />

    <div class="greyBg">
        <h1 class="alignLeft">
            <f:translate key="ext_title" />
        </h1>
    </div>

    <div class="greyBg">

        <h3><f:translate key="supported_folders_in_this_folder" /></h3>

        <div class="breadCrumbWrapper">
            <form action="" method="post" class="floatLeft">
                <input type="hidden" value="true" name="getFiles" />
                <input type="hidden" value="" name="rootRelPath" />

                <input type="submit" value="fileadmin {fileMountPath}" />
            </form>

            <span class="breadCrumb">&nbsp; {breadCrumb}</span>
            <div class="stretcher"></div>
        </div>

        <f:if condition="<f:count subject='{folders}' /> <= 0">
            <f:then>
                <h4 class="alignCenter"><f:translate key="there_are_no_supported_folders_in_this_folder" /></h4>
            </f:then>
            <f:else>
                <f:for each="{folders}" as="folder">
                    <form action="" method="post" class="folderList">
                        <input type="hidden" value="true" name="getFiles" />
                        <input type="hidden" value="{folder.basename}/" name="relPath" />

                        <input type="submit" value="{folder.basename}" />
                    </form>
                </f:for>
            </f:else>
        </f:if>

    </div>

    <div class="greyBg">

        <h3><f:translate key="supported_files_in_this_folder" /></h3>

        <f:if condition="<f:count subject='{files}' /> <= 0">
            <f:then>
                <h4 class="alignCenter"><f:translate key="there_are_no_supported_files_in_this_folder" /></h4>
            </f:then>
            <f:else>
                <form action="" method="post" enctype="multipart/form-data">
                    <input type="hidden" value="true" name="doResize" />
                    <table class="fileList">
                        <tr>
                            <th>
                                &nbsp;
                            </th>
                            <th>
                                <f:translate key="filename" />
                            </th>
                            <th>
                                <f:translate key="dimensions" />
                            </th>
                            <th>
                                <f:translate key="filetype" />
                            </th>
                        </tr>
                        <f:for each="{files}" as="file">
                            <tr>
                                <td>
                                    <img src="{file.url}" alt="" data-width="{file.width}" data-height="{file.height}" />
                                </td>
                                <td>
                                    <input type="checkbox" name="files[]" value="{file.url}" id="{file.uniqId}" data-extension="{file.extension}" />
                                    <label for="{file.uniqId}">
                                        {file.basename}
                                    </label>
                                </td>
                                <td class="alignRight">
                                    {file.width} x {file.height}
                                </td>
                                <td class="alignRight">
                                    {file.extension}
                                </td>
                            </tr>
                        </f:for>
                    </table>

                    <div class="imageSelection">
                        <div class="imageSelectionItem">
                            <a href="#" class="all"><f:translate key="all" /></a>
                        </div>
                        <div class="imageSelectionItem">
                            <a href="#" class="none"><f:translate key="none" /></a>
                        </div>
                        <div class="imageSelectionItem">
                            <a href="#" class="invert"><f:translate key="invert" /></a>
                        </div>
                        <div class="imageSelectionItem">
                            ||
                        </div>
                        <div class="imageSelectionItem">
                            <a href="#" class="filetype_jpg">jpg</a>
                        </div>
                        <div class="imageSelectionItem">
                            <a href="#" class="filetype_png">png</a>
                        </div>
                        <div class="imageSelectionItem">
                            <a href="#" class="filetype_gif">gif</a>
                        </div>
                        <div class="stretcher"></div>
                    </div>

                    <div class="dimsWrapper">
                        <h4 class="alignCenter"><f:translate key="enter_new_dimensions" /></h4>

                        <div class="dims">
                            <label for="width"><f:translate key="width" /></label>
                            <input type="text" name="width" id="width" />
                        </div>

                        <div class="dims">
                            <label for="height"><f:translate key="height" /></label>
                            <input type="text" name="height" id="height" />
                        </div>

                        <div class="dims doResize">
                            <label>&nbsp;</label>
                            <input type="submit" value="<f:translate key='resize' />" />
                        </div>
                        <div class="stretcher"></div>
                    </div>
                </form>
            </f:else>
        </f:if>

    </div>
</f:section>
