h1,h2,h3,h4,h5,h6,form
{
    margin: 0;
    padding: 0;
}

input, textarea, select, button
{
    font-size: 12px;
}

.alignLeft
{
    text-align: left;
}

.alignRight
{
    text-align: right;
}

.alignCenter
{
    text-align: center;
}

.floatLeft
{
    float: left;
}

.stretcher
{
    clear: both;
}

.greyBg
{
    background: #DDDDDD;
    padding: 10px;
    margin: 10px 0;
}

.greyBg h1
{
    font-size: 16pt;
}

.greyBg h3
{
    font-size: 13pt;
}

.greyBg h4
{
    background: #EBEBEB;
    margin: 10px 0;
    padding: 5px;
    font-size: 11pt;
}

.breadCrumbWrapper
{
    background: #EBEBEB;
    margin: 10px 0;
    padding: 5px;
}

.breadCrumb
{
    margin-top: 4px;
    font-size: 14px;
    float: left;
}

table
{
    border: 1px solid #f4f4f4;
    border-collapse: separate;
    width: 100%;
    margin-top: 5px;
}

table th
{
    text-align: center;
    font-size: 9pt;
}

table td
{
    border: 1px solid #f4f4f4;
    border-collapse: separate;
    vertical-align: middle;
    padding: 2px;
    font-size: 9pt;
}

.folderList input[type=submit]
{
    margin: 5px;
}

.fileList img
{
    max-width: 100px;
}

.fileList td:first-child
{
    width: 1px;
}

.dims
{
    float: left;
    margin: 0 15px 10px 0;
    width: 100px;
}

.dims label
{
    display: block;
    font-weight: bold;
    text-align: center;
}

.dims input
{
    width: 100%;
    font-size: 15pt;
    text-align: center;
}

.doResize.dims input[type=submit]
{
    font-size: 12pt;
}

.imageSelection .imageSelectionItem
{
    float: left;
    margin: 5px 10px 0px 0px;
}

.imageSelection a
{
    background-color: #F6F6F6;
    background-image: -moz-linear-gradient(center top , #F6F6F6 10%, #D5D5D5 90%);
    background-position: center bottom;
    background-repeat: repeat-x;
    border: 1px solid #7C7C7C;
    border-radius: 1px;
    color: #434343;
    cursor: pointer;
    padding: 2px 4px;
    display: block;
}

.imageSelection a:hover
{
    background-color: #C8C8C8;
    background-image: -moz-linear-gradient(center top , #F6F6F6 10%, #BDBCBC 90%);
    background-position: center bottom;
    background-repeat: repeat-x;
    border: 1px solid #737F91;
    color: #1E1E1E;
    cursor: pointer;
}